@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

.content-test {
    width: 80vw;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.test {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 110px;
    height: 36px;
    border-style: none;
    border-radius: 30px;
    padding: 8px 15px;
    margin: 30px;
    color: white;
    background-color: black;
    white-space: nowrap;
    animation: slide 0.4s linear;
}

.test-sign {
    font-size: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.test-sign p{
    width: 100px;
}

.sign p {
    white-space: nowrap;
    overflow:hidden;
    animation: typing 4s steps(10,end) forwards;
    font-size: 1.8em;
    font-family: 'Zeyada', cursive;
}

.p2 {
    font-size: 1.6em;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 10px;
}

.p3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: 0;
}

.p4 {
    font-size: 0.8em;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}