.navbar {
    display: flex;
    padding: 17px 13px;
    height: 5vh;
    width: 90vw;
    margin: 10px auto;
    position: sticky;
    background: white;
}

.navigation {
    text-decoration: none;
    width: 75vw;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

li {
    list-style: none;
    padding: 0.5vh 2vw;
}

.nav {
    font-size: 1.6em;
    padding: 0px 30px;
    color: black;
    text-decoration: none;
}

.btn-nav{
    width: 150px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 25px;
    margin: 0;
}

.nav-logo{
    background-color: rgb(207, 183, 228);
    border-radius: 15px;
    margin: -5px 12px;
}
