.content-tl {
   width: 40vw;
   margin: auto;
   border: 1px solid brown;
   padding: 0vh 5vw;
    display: flex;
    flex-direction: column;
  
}

.container-tl{
left: -300px;
}

.tl-margin{
    width: 50vw;
}
