.content-tl {
   width: 80vw;
   margin: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container-tl {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.tl-margin {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0.1em 1em;
    width: 60vw;
    border-left: 2px solid blue;
    background-color: aquamarine;

}

.circle{
    position: relative;
    margin: -29px;
    bottom: -13px;
    border: 10px solid blue;
    width: 2px;
    border-radius: 75%;
}