.content-notes {
    padding: 20px;
    margin:20px 180px;
    width: 70vw;
    height: 95vh;
    overflow: hidden;
    position: relative;

}

.content-notes h2 {
    font-size: 2.2em;
    margin-bottom: 20px;
    position: absolute;
    white-space: nowrap;
    animation: slide 0.5s linear;
}

@keyframes slide {
    from {
        transform: translateX(-50%);
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        transform: scale(1);
        opacity: 1;
    }
}
.main-notes {
    display: flex;
    flex-direction: row;
}

.notesItem {
    width: 218px;
    height: 125px;
    margin: 0px;
    padding: 5px; 
    border-radius: 25px;
    
}

.notesItem span {
    margin: 15px;
    padding: 0;
}

.notesItem p {
    margin: 10px;
    padding: 0;
}

.notesItem h5 {
    margin: 10px;
    padding: 0;
}

.notes {
    width: 100%;
    display: flex;
    margin: 30px;
    position: absolute;
  white-space: nowrap;
  animation: notes 15s linear infinite;
}

.notes h5 {
    font-size: 1em;
}

.notes-p {
    font-size: 0.8em;
}

.notes-box {
    width: 213px;
    margin: 20px;
    padding: 15px;
    background-color: #ffefd5;
    border-radius: 12px;
    white-space: wrap;
}

.notes-box:nth-child(odd) {
    background-color: #e1d8fc;
}

.notes-box:hover {
    transform: rotate(-10deg);
    background-color: #6341ef;
    color: white;
}

@keyframes notes {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.doodle4{
    width:35px;
    height: 50px;
    position: relative;
    top:10px;
    left: 1000px;
    animation: flying 6s ease-in-out forwards;
}

@keyframes flying {
    0% {
        transform: translate(80, 0);
    }
    25% {
        transform: translate(-190px, -20px)
        rotate(60deg);
    }
    50% {
        transform: translate(-310px, 20px) rotate(180deg);
    }
    75% {
        transform: translate(-400px, -30px) rotate(360deg);
    }
    100% {
        transform: translate(-500px, -10px);
    }
}