.content-vacancy {
    width: 90vw;
    height: 95vh;
    margin-left: 60px;
    padding-top:50px;
}

.content-vacancy h3 {
    font-size: 2.5em;
    margin-bottom: 0;
    margin-left: 50px;
    white-space: nowrap;
    animation: slide 0.8s linear;
}

.vacancy {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.vacancy h5 {
    font-size: 1.2em;
    margin: 10px 10px;
}

.va-margin {
    margin: 2em;
    padding: 15px;
    width: 300px;
    height: 220px;
    border-radius: 20px;
    background-color: #ede8cf;
}
.va-margin ol{
    margin-bottom:0 ;
}

.va-margin button {
    width: 110px;
    height: 36px;
    border-style: none;
    border-radius: 30px;
    padding: 8px 15px;
    margin-left: 3em;
    color: white;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.7s ease-in-out;
     white-space: nowrap;
    animation: slide 0.8s linear;
}

.va-margin:hover button {
    visibility: inherit;
    opacity: 1;
}

li {
    list-style-type: circle;
    padding-left: 10px;
}